* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
}

p.result {
    font-size: 1.2rem;
    font-style: italic;
}

a {
    color: white;
    text-decoration: none;
    background-color: #03468a;
    width: 206px;
    padding: 10px 0px;
    text-align: center;
    border-radius: 20px;
    transition: all .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover {
    transform: scale(1.1);
}

.container img {
    border-radius: 10px;
}

span {
    font-weight: 400;
    font-size: 0.8rem;
    font-style: italic;
}

.container {
    text-align: center;
    max-width: 1200px;
    margin: 50px auto;
}

.resolução {
    width: 800px;
    height: 500px;
    margin: 20px auto;
    background-color: rgb(5 49 100 / 50%);
    backdrop-filter: blur(2px);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

button {
    background-image: linear-gradient(120deg, rgb(22, 22, 104), rgb(80, 0, 80));
    padding: 10px 140px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 1.2rem;
    justify-self: end;
    cursor: pointer;
}


.navContainer {
    display: flex;
    min-width: 100vw;
    justify-content: space-between;
    padding: 0 20px;
    position: absolute;
    bottom: 30px;
}

#back1 {
    width: 20px;
    margin-right: 10px;
}

#back2 {
    width: 20px;
    margin-left: 10px;
    transform: rotate(180deg);
}

#home {
    margin-right: 10px;
}

.done {
    background-image: linear-gradient(160deg, rgb(39 92 48), rgb(0 255 43));
    cursor: not-allowed;
    transition: all .3s;
}
