* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 5rem;
}

h2 {
    margin: 0 0 20px;
}

img {
    width: 300px;
    margin: 15px 0;
    border-radius: 15px;
}

.container {
    max-width: 1200px;
    margin: 50px auto;
}

.exContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2em;
}


.ex {
    background-color: rgb(5 49 100 / 50%);
    width: 500px;
    height: 300px;
    border-radius: 10px;
    backdrop-filter: blur(8px);
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(120deg, rgb(22, 22, 104), rgb(80, 0, 80));
    padding: 10px 40px;
    border-radius: 10px;
    transition: all .3s;
}

a:hover {
    border-radius: 20px;
    font-size: 1.1rem;
    transition: all .3s;
}

#kata1, #kata2 {
    width: 50px;
    margin: 0;
    border-radius: 0;
}
